In [42]:
for i in range(1,6):
    for j in range(1,i+1):
        print(j,end="")
    print()

1
12
123
1234
12345

In [27]:
n=5
k=1
for i in range(0,n+1):
    for j in range(i):
        print(k,end=" ")
        k+=1
    print()

1
2 3
4 5 6
7 8 9 10
11 12 13 14 15

In [15]:
for i in range(1,6):
    for j in range(i):
        print(i,end="")
    print()

1
22
333
4444
55555

In [2]:
l = ["A","B","C","D","E"]
for i in range(len(l)+1):
    for j in range(i):
        print(l[i-1],end="")
    print()

A
BB
CCC
DDDD
EEEEE

In [33]:
n=5
k=65
for i in range(1,n+1):
    for j in range(i):
        print(chr(k),end=" ")
        k+=1
    print()

A
B C
D E F
G H I J
K L M N O

In [3]:
n = 65
for i in range(1,6):
    for j in range(i):
        print(chr(n),end="")
    print()

A
AA
AAA
AAAA
AAAAA

In [41]:
n = 5
for i in range(1,n+1):
    for j in range(i):
        print("*",end="")
    print()

*
**
***
****
*****

In [91]:
n = 5
for i in range(1,n+1):
    for j in range(n-i):
        print(" ",end="")
    for k in range(i):
        print("*",end="")
    print()

    *
   **
  ***
 ****
*****

In [38]:
n = 5
for i in range(1,n+1):
    for j in range(n-i):
        print(" ",end="")
    for k in range(i):
        print("*",end=" ")
    print()

    *
   * *
  * * *
 * * * *
* * * * *

In [87]:
n = 7
for i in range(1,n+1):
    for j in range(n-i):
        print(" ",end="")
    for k in range(i):
        print("*",end=" ")
    print()
for a in range(n-1,0,-1):
    for b in range(n-a):
        print(" ",end="")
    for c in range(a):
        print("*",end=" ")
    print()

      *
     * *
    * * *
   * * * *
  * * * * *
 * * * * * *
* * * * * * *
 * * * * * *
  * * * * *
   * * * *
    * * *
     * *
      *

In [2]:
l = [2,3,45,6,7,45,67,89,65,43]
# find max
maximum = min(l)
print(maximum)



print(maximum)
print("demo")

2
2
demo